{{! 
Це код container файлу для index сторінки, 
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
 }}
<main class='m-5'>
  <div>
    <h2>Cписок сторінок</h2>
    <div>
      <p class='mt-3'>
        Тут вам потрібно написати інформацію про ваш проєкт.
        <br />
        Поки що можна написати будь-який текст
      </p>
    </div>
    <div class='nav flex-column'>
      <a
        type='button'
        class='btn btn-primary col-2 mt-3'
        href='/summary'
      >
        Summary
      </a>
      <a
        type='button'
        class='btn btn-primary col-2 mt-3'
        href='/bootstrap'
      >
        Bootstrap
      </a>
      <a
        type='button'
        class='btn btn-primary col-2 mt-3'
        href='/car'
      >
        Car
      </a>
      <a
        type='button'
        class='btn btn-primary col-2 mt-3'
        href='/bio'
      >
        Bio
      </a>
      <a
        type='button'
        class='btn btn-primary col-2 mt-3'
        href='/facebook'
      >
        Facebook
      </a>
      <a
        type='button'
        class='btn btn-primary col-2 mt-3'
        href='/js'
      >
        JS
      </a>
      <a
        type='button'
        class='btn btn-primary col-2 mt-3'
        href='/mac'
      >
        Mac
      </a>
      <a
        type='button'
        class='btn btn-primary col-2 mt-3'
        href='/person'
      >
        Person
      </a>
      <a
        type='button'
        class='btn btn-primary col-2 mt-3'
        href='/program'
      >
        Program
      </a>
      <a
        type='button'
        class='btn btn-primary col-2 mt-3'
        href='/shopcart'
      >
        Shopcart
      </a>
      <a
        type='button'
        class='btn btn-primary col-2 mt-3'
        href='/shopcatalog'
      >
        shopcatalog
      </a>
      <a
        type='button'
        class='btn btn-primary col-2 mt-3'
        href='/shophome'
      >
        Shophome
      </a>
      <a
        type='button'
        class='btn btn-primary col-2 mt-3'
        href='/shoporder'
      >
        Shoporder
      </a>
      <a
        type='button'
        class='btn btn-primary col-2 mt-3'
        href='/shopprofile'
      >
        Shopprofile
      </a>
      <a
        type='button'
        class='btn btn-primary col-2 mt-3'
        href='/shopreview'
      >
        Shopreview
      </a>
      <a
        type='button'
        class='btn btn-primary col-2 mt-3'
        href='/task21'
      >
        Task21
      </a>
      <a
        type='button'
        class='btn btn-primary col-2 mt-3'
        href='/task22'
      >
        Task22
      </a>
      <a
        type='button'
        class='btn btn-primary col-2 mt-3'
        href='/task31'
      >
        Task31
      </a>
      <a
        type='button'
        class='btn btn-primary col-2 mt-3'
        href='/web'
      >
        Web
      </a>
    </div>
  </div>
</main>

{{! 
    Цей код містить лише те, що буде виводитись в <body>
    Адже наш layout/default.hbs має вже структуру HTML
}}