{{#if isActive}}
  <div class='form-check form-switch'>
    <leble class='form-check-lable'>{{text}}</leble>
    <input type='checkbox' class='form-check-input' />
  </div>
{{else}}
  <div class='form-check form-switch'>
    <leble class='form-check-lable'>{{text}}</leble>
    <input class='form-check-input' type='checkbox' />
  </div>
{{/if}}